
.space{
  position: relative;
  height: 10%;
}
#nominativo{
  position: fixed;
  top: 10px;
  right: 10px;
  color: red;
}
#annata{
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: red;
}
.numero1 span a {
  text-decoration: underline; 
  color: red;
}
.numero1 span a:hover {
  background-color: #00ff00;
}
.numero1 span a:visited {
  text-decoration: underline; 
  color: red;
}
.colonna-numeri {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .progetto{
    position: relative;
    width: 100%;
  }
.numero1 {
    cursor: pointer;
    padding: 5px;
    padding-top: 0px;
    position: relative;
    width: 95%;
  }
  .numero{
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 4px;
    border-bottom: 1px solid rgba(255, 0, 0, 0);
    position: relative;
    width: 100%;
  }
  .numero1:hover::after {
    content: attr(data-testo);
    position: absolute;
    left: 6%;
    top: 0;
    width: 95%;
  }
.numero1:hover{
padding-left: 35px;
}
.ciao1, .ciao2, .ciao3, .ciao4, .ciao5, .ciao6, .ciao7, .ciao8, .ciao9{
  opacity: 0;
}

.progetto{
  color: red;
  opacity: 0.5;
}

.progetto:hover{
  opacity: 1;
}

.numero1 span{
  opacity: 0;
}

.numero1 span img{
  position: fixed;
  pointer-events: none;
  z-index: -1;
  max-height: 100vh;
  max-width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.numero1 span video{
  position: fixed;
  pointer-events: none;
  z-index: -1;
  max-height: 100vh;
  max-width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.numero1:hover span{
  opacity: 1;
}

