.anteprima{
  position: fixed;
  pointer-events: none;
  z-index: 30;
  max-height: 100vh;
  max-width:50vw;
  top: 50%;
  right: 0px;
  transform: translate(-0%, -50%);
  opacity: 0;
}
.immagine{
  width: 70px;
  pointer-events: all;
  z-index: 16;
  image-rendering: optimizeSpeed; /* Priorità per una rapida renderizzazione */
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Chrome e Safari */
  image-rendering: optimize-contrast; /* Standard */
  -ms-interpolation-mode: nearest-neighbor; /* Internet Explorer */
  image-rendering: pixelated;
}
.immagine:hover{
  cursor: pointer;
}
.contenuto:hover .caption{
  background-color: #00ff00;
}
.caption{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
}
.fotogrammetria{
  position: fixed;
  pointer-events: none;
  z-index: -1;
  max-height: 100vh;
  max-width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
a{
  text-decoration: underline; 
  color: black;
  z-index: 12;
  pointer-events:all;
  cursor: pointer;
}
 a:hover {
  background-color: #00ff00;
}
button{
  position: fixed;
  width: 98.5%;
  left: 0.75%;
  bottom: 10px;
  font-family: monospace;
  color: black;
}
button #dati{
  float: right;
}
button #nome{
  float: left;
}
#portfolio{
  position: fixed;
  right: 10px;
  bottom: 8px;
}
#scorrimento {
  width: 100%;
}
ul{
  list-style: none;
  padding-top: 280px;
  padding-bottom: 600px;
  padding-left: 0px;
  width: 100%;
  overflow-x: hidden;
}
span{
  visibility: hidden;
  pointer-events: none;
}
.contenuto{
  position: absolute;
  z-index: 10;
}
.testo{
  display: none;
}
.button::before {
  content: '[+]';
  pointer-events:all;
  cursor: pointer;
}
.button[data-state="active"]::before {
  content: '[-]';
  pointer-events:all;
  
}
#colonna-numeri {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.progetto{
  width: 100%;
  position: relative;
  opacity: 0.5;
  color: black;
}
.tutti{
  width: 100%;
  padding-left: 10px;
}
.numeri{
  padding-left: 25px;
  pointer-events: none;
}
.selezione{
  padding-left: 60px;
}
.selezione span{
  visibility: visible;
  }
.selezioneinizio{
  opacity: 1;
}
.selezioneinizio .inizio{
  padding-left: 60px;
  border-bottom: 1px solid black;
}
.selezioneinizio .inizio span{
  visibility: visible;
}
.testo{
  margin-right:15px;
  z-index: 30;
}
.testo .fotogrammetria {
  position: fixed;
  pointer-events: none;
  z-index: -1;
  max-height: 100vh;
  max-width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 780px) {
  body{
    font-size: 8pt !important
  }
  .anteprima{
    max-width: 100vw;
    z-index: -10;
  }
  ul{
    font-size: 8pt !important
  }
  span{
    font-size: 8pt;
  }
  .selezione{
    font-size: 8pt;
  }
  .selezione span{
    font-size: 8pt;
    }
  .selezioneinizio{
    font-size: 8pt;
  }
  .selezioneinizio .inizio{
    font-size: 8pt;
  }
  .selezioneinizio .inizio span{
    font-size: 8pt;
  }
}