@font-face {
font-family: 'ibm';
  src: url('fonts/NeueMontreal-Medium.otf') format('woff2')
}
body{
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "ibm";
  line-height: 120%;
  overflow-x: hidden;
  box-sizing: border-box;
}
@media (max-width: 768px) {
 
}