@font-face {
font-family: 'aktiv';
  src: url('fonts/FTAktual-Book.otf') format('woff2')
}
body{
  width: 100%;
  margin: 0px;
  font-family: "aktiv";
}
@media (max-width: 768px) {
  html{
    font-size: 12pt;
  }
}